
$wGray: #3d4045;
$wGreen: #248d78;
$wOrange: #f4b824;
$wBlue: #005088;
$wRed: #bc1622;

$colorSuccess: $wGreen;
$colorWarning: $wOrange;
$colorDanger: $wRed;
$colorInfo: $wBlue;

$mdc-theme-primary: $wBlue;
$mdc-theme-secondary: $wRed;
$mdc-theme-background: $wOrange;
