@import "variables";

@import "@material/typography/mdc-typography";
@import "@material/theme/mdc-theme";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/list/mdc-list";
@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";

@import "clearfix";
@import "drawer";
@import "lists";
@import "switch";
@import "utils";

html {
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;

    // @media (min-width: map-get($mdc-layout-grid-breakpoints, 'desktop')) {
    //     margin-bottom: $footerHeight;
    // }
}

#kiotlog-app > div {
    display: flex;
}

.kiotlog-wrap {
    width: 100%;
}

.kiotlog-page {
    @extend .padding-gutter;
}

.kiotlog-container {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    // height: 100%;
    padding: 0 16px;

    @include clearfix();
}

.kiotlog-container-small {
    @extend .kiotlog-container;

    max-width: 800px;

    .kiotlog-container-small {
        padding: 0;
    }
}